$first_theme: ("primary": #3949AB, "light": #6F74DD, "dark": #00227B);
$second_theme: ("primary": #1E88E5, "light": #6AB7FF, "dark": #005CB2);
$third_theme: ("primary": #8E24AA, "light": #C158DC, "dark": #5C007A);

$background_theme: ("primary": #FFFFFF, "light": #F6F6F6, "dark": #EDEDED);
$border_theme: ("primary": #D3D3D3, "light": #E9E9E9, "dark": #BDBDBD);
$text_theme: ("primary": #000000, "light": #8d8d8d, "dark": #464646);

