//https://material.angular.io/guide/typography

@use '../../../../node_modules/@angular/material/index' as mat;

@use '../theming';

$custom-typography: mat.define-typography-config(
  $font-family: 'Montserrat',
  $display-1: mat.define-typography-level(56px, 1.15, 700, "Inter"), // hero
  $display-2: mat.define-typography-level(30px, 1, 500), // hero
  $display-3: mat.define-typography-level(20px, 1, 500), // hero
  $display-4: mat.define-typography-level(30px, 1, 500, "Inter"), // large
  $headline: mat.define-typography-level(25px, 1, 700, "Inter"), // large
  $title: mat.define-typography-level(22px, 1, 700, "Inter"), // large
  $subheading-2: mat.define-typography-level(19px, 1, 700, "Inter"),
  $subheading-1: mat.define-typography-level(19px, 1, 600),
  $body-1: mat.define-typography-level(14px, 1, 400),
  $body-2: mat.define-typography-level(14px, 1, 500),
);
//caption
//button
//input

@include mat.core($custom-typography);

.mat-display-1 {
  background: linear-gradient(90deg, map-get(theming.$third_theme, "dark") 0%, map-get(theming.$second_theme, "light") 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 24px !important;
}

.mat-display-2 {
  margin-bottom: 12px !important;
}

.mat-display-3 {
  margin-bottom: 6px !important;
}

.mat-display-4 {
  color: map-get(theming.$first_theme, "dark") !important;
}


