<button (click)="onSignInPressed()"
        *ngIf="!(isLoadedUser$ | async) && !(isLoadingUser$ | async)"
        class="sign-in-with round sm sm-text blue-text signin signin_right"
        mat-button>
  {{isDisplayOfGivenSize('XSmall') ? notSignedInMsgShort : notSignedInMsg}}
  <img alt="Google logo" class="signin__avatar" src="assets/github/github.svg">
</button>

<button *ngIf="isLoadingUser$ | async"
        class="sign-in-with round sm sm-text blue-text signin signin_right"
        mat-button>
  Loading
  <mat-spinner [diameter]="32" class="mat-spinner_small mat-spinner_inline-block"></mat-spinner>
</button>

<button *ngIf="isLoadedUser$ | async"
        [routerLink]="'profile'"
        class="sign-in-with round sm sm-text blue-text signin signin_right"
        mat-button>
  {{(User$ | async)?.login}}
  <img [src]="(User$ | async)?.avatar_url" alt="User profile avatar" class="signin__avatar">
</button>
