@use '../../../styles/theming' as theming;

$container-height: 96px;
$content-max-height: 56px;
$content-min-height: 32px;

:host {
  padding: 0;
  margin: 0;
}

.signin__avatar {
  height: $content-min-height;
  width: $content-min-height;
  border-radius: calc($content-min-height / 2);
  border: 1px solid map-get(theming.$border_theme, "light");
}

.signin_right {
  padding-right: 0 !important;
}

.signin_left {
  padding-left: 0 !important;
}

