mat-spinner.mat-spinner_inline-block {
  display: inline-block;
}


.page-center {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 30px;
}
