@use "../../../styles/sizes";
@use "../../../styles/theming";


.ibis-list { //ul
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: map-get(sizes.$sizes_primary, "xs");
}

.ibis-list__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
