<div *ngIf="!isEmpty; else emptyContentTemplate" class="ibis-table">
  <div class="ibis-table__table" style="min-width: 100%"
  >
    <table
      #sort="matSort"
      #table
      (matSortChange)="sortChanged($event)"
      [dataSource]="_dataSource"
      [matSortActive]="initialSorting ? initialSorting.active : ''"
      [matSortDirection]="initialSorting ? initialSorting.direction : ''"
      [multiTemplateDataRows]="!!expandCellContentTemplate"
      mat-table
      matSort
      style="padding-left: 5px; padding-right: 5px; width:100%"
    >
      <!-- Expanded Content Column -->

      <ng-container matColumnDef="__expanded__">
        <td
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
          mat-cell
        >
          <div [@detailExpand]="row === _expandedRow ? 'expanded' : 'collapsed'"
               class="ibis-table__table-expand-inner"
          >
            <ng-template
              [ngTemplateOutletContext]="{row: row}"
              [ngTemplateOutlet]="expandCellContentTemplate"
            ></ng-template>
          </div>
        </td>
      </ng-container>

      <ng-container
        *ngFor="let column of columnModel | columnModelToList; let index=index"
        [matColumnDef]="column.key"
      >
        <th *matHeaderCellDef
            [disabled]="column.value?.disabledSort"
            [matTooltip]="column.value?.helpMessage"
            [start]="column.value?.isDesc ? 'desc' : 'asc'"
            mat-header-cell
            mat-sort-header
            style="text-align: center"
            tabindex="-1">{{column.value.view}}</th>
        <td
          *matCellDef="let row; let index=index"
          [ngClass]="cellClass"
          [ngStyle]="column.value.colorStyle ?
                     {'background': column.value.colorStyle(row)} : null"
          mat-cell
        >
          <ng-container
            *ngIf="column.value.columnTemplate; else valueConverterTemplate"
            [ngTemplateOutletContext]="{value: row[column.key], row: row, index: index}"
            [ngTemplateOutlet]="column.value.columnTemplate"
          ></ng-container>
          <ng-template #valueConverterTemplate>
            {{column.value.valueConverter
            ? column.value.valueConverter(row[column.key])
            : row[column.key]}}
          </ng-template>
        </td>
      </ng-container>
      <ng-container *ngIf="actionTemplate">
        <ng-container matColumnDef="__action__" stickyEnd>
          <th *matHeaderCellDef
              class="px-0"
              mat-header-cell
          >
          </th>
          <td *matCellDef="let element" class="px-0" mat-cell>
            <ng-container
              [ngTemplateOutletContext]="{row: element}"
              [ngTemplateOutlet]="actionTemplate"
            >
            </ng-container>
          </td>
        </ng-container>
      </ng-container>

      <tr *matHeaderRowDef="getDisplayedColumns()" mat-header-row></tr>
      <tr (click)="_handleRowClick(row)" *matRowDef="let row; columns: getDisplayedColumns();"
          [class._borderless]="expandCellContentTemplate || popoverContentTemplate || clickableRow"
          [class._clickable]="clickableRow"
          [class._colorClick]="clickableRow"
          [class._shadows-click]="expandCellContentTemplate || popoverContentTemplate"
          class="ibis-table__table-row"
          mat-row
      ></tr>
      <ng-container *ngIf="expandCellContentTemplate">
        <tr
          *matRowDef="let row; columns: ['__expanded__']" class="ibis-table__table-expand-row"
          mat-row
        >
        </tr>
      </ng-container>
    </table>
    <ng-container *ngIf="noDataAvailable()">
            <span style="width: 100%;text-align: center;padding-top: 10px;"
            >
              No Data Available
            </span>
    </ng-container>
  </div>
  <mat-paginator
    *ngIf="paginatorOptions"
    [pageSizeOptions]="paginatorOptions"
    class="ibis-table__paginator"
    showFirstLastButtons
  ></mat-paginator>
</div>


<ng-template #emptyContentTemplate>

</ng-template>
