<div class="ibis-table">
  <div class="ibis-table__table" style="min-width: 100%">
    <table
      #sort1="matSort"
      #table
      (matSortChange)="externalPaginator ? emitChanges(externalPaginator) : null"
      [dataSource]="_dataSource"
      [matSortActive]="initialSort ? initialSort.active : null"
      [matSortDirection]="initialSort ? initialSort.direction : ''"
      [multiTemplateDataRows]="!!expandCellContentTemplate"
      mat-table
      matSort
      style="padding-left: 5px; padding-right: 5px; width:100%"
    >
      <!-- Expanded Content Column -->

      <ng-container matColumnDef="__expanded__">
        <td
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
          mat-cell
        >
          <div [@detailExpand]="row === _expandedRow ? 'expanded' : 'collapsed'"
               class="ibis-table__table-expand-inner"
          >
            <ng-template
              [ngTemplateOutletContext]="{row: row}"
              [ngTemplateOutlet]="expandCellContentTemplate"
            ></ng-template>
          </div>
        </td>
      </ng-container>

      <ng-container
        *ngFor="let column of columnModel | columnModelToList"
        [matColumnDef]="column.key"
      >
        <th *matHeaderCellDef
            [disabled]="column.value?.disabledSort"
            [matTooltip]="column.value?.helpMessage"
            mat-header-cell
            mat-sort-header>{{column.value.view}}</th>
        <td
          *matCellDef="let row"
          [ngStyle]="column.value.colorStyle ?
                     {'background': column.value.colorStyle(row)} : null"
          mat-cell
        >
          <ng-container
            *ngIf="column.value.columnTemplate; else valueConverterTemplate"
            [ngTemplateOutletContext]="{value: row[column.key], row: row}"
            [ngTemplateOutlet]="column.value.columnTemplate"
          ></ng-container>
          <ng-template #valueConverterTemplate>
            {{column.value.valueConverter
            ? column.value.valueConverter(row[column.key])
            : row[column.key]}}
          </ng-template>
        </td>
      </ng-container>


      <tr *matHeaderRowDef="this.displayedColumns" mat-header-row></tr>
      <tr (click)="_handleRowClick(row)" *matRowDef="let row; columns: this.displayedColumns;"
          [class._borderless]="expandCellContentTemplate || popoverContentTemplate || clickableRow"
          [class._clickable]="expandCellContentTemplate || popoverContentTemplate || clickableRow"
          [class._colorClick]="!expandCellContentTemplate && !popoverContentTemplate && clickableRow"
          [class._shadows-click]="expandCellContentTemplate || popoverContentTemplate"
          class="ibis-table__table-row"
          mat-row
      ></tr>
      <ng-container *ngIf="expandCellContentTemplate">
        <tr
          *matRowDef="let row; columns: ['__expanded__']" class="ibis-table__table-expand-row"
          mat-row
        >
        </tr>
      </ng-container>
    </table>
    <div *ngIf="dataLoading"
         class="ibis-table__table-loading"
    >
      <mat-spinner
        *ngIf="dataLoading"
        [diameter]="100"
        color="accent"
      ></mat-spinner>
    </div>
  </div>
  <mat-paginator
    *ngIf="paginatorLength"
    [length]="paginatorLength"
    [pageSizeOptions]="paginatorOptions"
    [pageSize]="paginatorPageSize || paginatorOptions[0]"
    class="ibis-table__paginator"
    showFirstLastButtons
  ></mat-paginator>
</div>

