@use 'src/app/styles/theming';
@use 'src/app/styles/typography';

$navigation-height: 56px;
$navigation-spacing: 16px;
$nav-content-lg-height: 40px;

$sidenav-width: 256px;
$sidenav-spacing: 4px;
$sidenav-elem-height: 40px;
$sidenav-elem-width: 236px;
$sidenav-active-elem-indicator-width: 8px;

$footer-height: 192px;
$footer-top-padding: 10px;

$primary-border: 1px map-get(theming.$border_theme, primary) solid;


//$content-max-height: 56px;
//$content-min-height: 32px;

.logged-out {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

// Top navigation-template (menu button & logo)
.navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  height: $navigation-height;
  padding-left: $navigation-spacing;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $navigation-spacing;

  background-color: map-get(theming.$background_theme, 'primary') !important;
}

.navigation-menu__button {
  height: $nav-content-lg-height !important;
  width: $nav-content-lg-height !important;
  min-width: $nav-content-lg-height !important;
  min-height: $nav-content-lg-height !important;
  border-radius: calc($nav-content-lg-height) !important;
  padding: 0 !important;

  background-color: map-get(theming.$background_theme, 'primary') !important;
  color: map-get(theming.$first_theme, 'primary') !important;

  .mat-button-wrapper {
    padding: 0 !important;
  }
}

.navigation-menu__button_opened {
  background-color: map-get(theming.$first_theme, 'primary') !important;
  color: map-get(theming.$background_theme, 'primary') !important;
}

.navigation-menu__logo {
  height: $nav-content-lg-height;
  width: $nav-content-lg-height;

  border-radius: calc($nav-content-lg-height / 2);
  border: 1px solid map-get(theming.$border_theme, 'dark'); //map-get(theming.$first_theme, 'light')
}

.navigation-menu__title {
  //transition: all 100ms ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.navigation-menu__title_opened {
  flex-direction: column;
  align-items: unset;
  gap: 0;
}

.navigation-menu__title-main {
  color: map-get(theming.$first_theme, "dark");
  font-family: typography.$primary-font-family, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.navigation-menu__title-main_opened {

}

.navigation-menu__title-sub {
  color: map-get(theming.$first_theme, "primary");
  font-family: typography.$primary-font-family, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.navigation-menu__title-sub_opened {
  font-size: 15px;
  line-height: 15px;
}

mat-drawer-container {
  background: transparent;
}

// Sidebar
.sidebar {
  width: 256px;
  display: flex;
  height: 100vh;
  padding-top: $navigation-height;
  border-right: $primary-border;
}

// Sidebar Navigation
.sidebar-nav {
}

.sidebar-nav__subheader {
}

.sidebar-nav__list {
  display: flex;
  flex-direction: column;
  gap: $sidenav-spacing;
  padding: 0 $navigation-spacing;
}

.sidebar-nav__list-item {
  height: $sidenav-elem-height !important;
  //width: $sidenav-elem-width !important;
  border-radius: calc($sidenav-elem-height / 4);

  line-height: 17px !important;
  font-size: 17px !important;

  .mat-list-item-content {
    padding-left: 4px !important;

    &:before {
      position: relative;
      content: "";
      width: $sidenav-active-elem-indicator-width;
      height: $sidenav-elem-height;
      border-radius: calc($sidenav-active-elem-indicator-width / 2);
      right: $navigation-spacing;
    }
  }

  //
  //&:before {
  //  content: "";
  //}
}

.sidebar-nav__list-item_active .mat-list-item-content:before {
  background: linear-gradient(180deg, #5C007A 0%, #6AB7FF 100%);
}


.page-content {
  min-height: calc(100vh - $navigation-height);
  margin-top: $navigation-height;
  //overflow: hidden !important;
  height: calc(100vh - $navigation-height);
  overflow-y: scroll;
  padding: 0 calc($sidenav-width - $sidenav-elem-width);
}

.router-container {
  min-height: calc(100vh - $navigation-height);
  padding: 20px 0;
}

// Footer
.page-footer {
  min-height: $footer-height;
  border-top: $primary-border;
  background-color: map-get(theming.$background_theme, 'primary');
  padding-top: $footer-top-padding;
  overflow: hidden;
}

.page-footer__logo-wrapper {
  position: relative;
  height: $footer-height;
}

.page-footer__logo {
  height: $footer-height;
  position: absolute;
  bottom: 0;
  right: 0;
}

.page-footer__info {
  color: map-get(theming.$text_theme, 'light');
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  a {
    text-decoration: none;
    font-weight: 600;
    color: map-get(theming.$first_theme, 'light');
  }
}

// MATERIAL

.mat-drawer-container {
  background-color: transparent;
}

.mat-drawer-content {
  overflow: hidden !important;
}

mat-toolbar {
  border-bottom: $primary-border;
}

//.container {
//  display: flex;
//  box-sizing: border-box;
//  flex-direction: row;
//  align-items: center;
//  white-space: nowrap;
//  gap: ($navigation-template-height - $content-max-height) / 2;
//}
