<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="sidenav__top">
      <button (click)="drawer.toggle()" *ngIf="drawer.opened" aria-label="Menu fab" class="menu__button" color="primary" mat-fab>
        <mat-icon>menu</mat-icon>
      </button>
<!--      <competition-logo *ngIf="drawer.opened" [style.&#45;&#45;height]="'56px'" class="menu__logo"></competition-logo>-->
      <img *ngIf="drawer.opened" alt="IBIS logo" class="menu__logo" src="assets/ibis-logos/IBIS_HEAD_LOGO_HEAD_56x56.png">
    </div>
  </mat-drawer>

  <div id="buttonDiv"></div>
  <div class="sidenav-content">
    <mat-toolbar>
      <button (click)="drawer.toggle()" *ngIf="!drawer.opened" aria-label="Menu fab" class="menu__button" color="primary" mat-fab>
        <mat-icon>menu</mat-icon>
      </button>
      <div class="container">
<!--        <competition-logo *ngIf="!drawer.opened && !isSmallSize" [style.&#45;&#45;height]="'56px'" class="menu__logo"></competition-logo>-->
        <img *ngIf="!drawer.opened && !isSmallSize" alt="IBIS logo" class="menu__logo" src="assets/ibis-logos/IBIS_HEAD_LOGO_HEAD_56x56.png">
        <span class="menu__spacer"></span>
        <h1 class="menu__heading">IBIS Challenge</h1>
        <span class="menu__spacer"></span>
        <button class="menu__item round lg lg-text blue-text" mat-button>About us</button>
        <competition-sign-in-with></competition-sign-in-with>
      </div>
    </mat-toolbar>
    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </div>
</mat-drawer-container>






