<!--<competition-parallax *ngIf="isWeb()"-->
<!--                      [class.paused]="!isCompleted"-->
<!--                      [labels]="labels"-->
<!--                      [style.&#45;&#45;right]="'140px'"-->
<!--                      [style.&#45;&#45;top]="'calc(100vh - 800px)'"-->
<!--                      class="slideInFromRight"-->
<!--                      id="heroImg1">-->
<!--  <img alt="Enhanceosome image" src="assets/hero-imgs/122-Enhanceosome_enhanceosome.avif"-->
<!--       style="transform: rotateZ(233deg);">-->
<!--</competition-parallax>-->

<!--<competition-parallax *ngIf="isWeb()"-->
<!--                      [isFloating]="false"-->
<!--                      [isMouseMoving]="false"-->
<!--                      [style.&#45;&#45;right]="'1vw'"-->
<!--                      [style.&#45;&#45;top]="'calc(5vh + 56px)'"-->
<!--                      id="heroImg2"-->
<!--                      style="min-width: 350px;">-->
<!--  <competition-code (completed)="isCompleted=true"-->
<!--                    (printed)="isPrinted=true"-->
<!--                    (run)="isRun=true"-->
<!--                    [full_code]="full_code">-->

<!--  </competition-code>-->
<!--</competition-parallax>-->

<div class="container heroSection slideInFromLeft"> <!--[class.paused]="!isPrinted"-->
  <div class="ibis-display-2">Interested in ML engeneering?</div>
  <div class="ibis-display-1">Science needs you!</div>
  <div class="heroSection__callToAction">
    <button class="round lg lg-text gradient" mat-flat-button>Start now</button>
    <div>
      <div class="ibis-display-3">to help researching human</div>
      <div class="ibis-display-3">transcription factors</div>
    </div>
  </div>
</div>
